.product {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.product p {
    width: 20%;
    font-size: 1.2em;
    margin: .5em;
}

.content-buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

span {
    font-size: 1.2em;
    color:  rgba(0, 0, 0, 0.6);
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 1em;
    cursor: pointer;
    width: 20%;
    justify-content: space-around;
}

.edit {
    color:  rgba(0, 0, 0, 0.6);
}

.delete {
    color: brown;
}


@media (max-width: 600px) {
    .product {
        flex-direction: column;
    }

    .product p {
        width: 90%;
        font-size: 1.1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .content-buttons {
        margin: 1.3em;
        width: 100%;
        justify-content: center;
    }

    span {
        display: block;
    }
}