.form-add-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
    padding-bottom: .4em;
}

.form-edit-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    max-height: 300px;
}

@media (max-width: 600px) {
    .form-add-product {
        margin: 1em;
    }
    .form-edit-product {
        flex-direction: column;
        justify-content: flex-start;
    }

    .input {
        width: 60%;
    }
    
}